#### network-config file - Centralized TGW & Dedicated Tenant04 TGW - Multi Region Multi Tenant ###########

homeRegion: &HOME_REGION us-east-1

#####################################
# Delete default VPCs
#####################################
defaultVpc:
  delete: true
  excludeAccounts: []

centralNetworkServices:
  delegatedAdminAccount: Network

endpointPolicies:
  - name: Default
    document: vpc-endpoint-policies/default.json
  - name: Ec2
    document: vpc-endpoint-policies/ec2.json

##############################################
# Transit Gateways
##############################################

transitGateways:
  - name: atos-pcsaws-dev-tgw01-us-east-1
    account: Network
    region: *HOME_REGION
    shareTargets:
      organizationalUnits:
        - PCS
        - Infrastructure
    asn: 65521
    dnsSupport: enable
    vpnEcmpSupport: enable
    defaultRouteTableAssociation: disable
    defaultRouteTablePropagation: disable
    autoAcceptSharingAttachments: enable
    routeTables:
      - name: Network-Main-Egress
        routes: []
        tags:
          - key: "AtosManaged"
            value: "true"
          - key: "CentralizedNetwork"
            value: "true"
      - name: Network-Main-Core
        routes: []
        tags:
          - key: "AtosManaged"
            value: "true"
          - key: "CentralizedNetwork"
            value: "true"
      - name: Network-Main-Spoke
        routes:
          - destinationCidrBlock: 0.0.0.0/0
            attachment:
              vpcName: atos-pcsaws-dev-vpc00-us-east-1
              account: Network
          - destinationCidrBlock: 10.136.0.0/22
            attachment:
              transitGatewayPeeringName: atos-pcsaws-dev-us-east-1-to-us-west-1
        tags:
          - key: "AtosManaged"
            value: "true"
          - key: "CentralizedNetwork"
            value: "true"
    tags:
      - key: "AtosManaged"
        value: "true"
      - key: "CentralizedNetwork"
        value: "true"

  - name: atos-pcsaws-dev-tgw01-us-west-1
    account: Network
    region: us-west-1
    shareTargets:
      organizationalUnits:
        - PCS
        - Infrastructure
    asn: 65522
    dnsSupport: enable
    vpnEcmpSupport: enable
    defaultRouteTableAssociation: disable
    defaultRouteTablePropagation: disable
    autoAcceptSharingAttachments: enable
    routeTables:
      - name: Network-Main-Egress-us-west-1
        routes: []
        tags:
          - key: "AtosManaged"
            value: "true"
          - key: "CentralizedNetwork"
            value: "true"
      - name: Network-Main-Spoke-us-west-1
        routes:
          - destinationCidrBlock: 0.0.0.0/0
            attachment:
              vpcName: atos-pcsaws-dev-vpc100-us-west-1
              account: Network
          - destinationCidrBlock: 10.3.0.0/22
            attachment:
              transitGatewayPeeringName: atos-pcsaws-dev-us-east-1-to-us-west-1
        tags:
          - key: "AtosManaged"
            value: "true"
          - key: "CentralizedNetwork"
            value: "true"
    tags:
      - key: "AtosManaged"
        value: "true"
      - key: "CentralizedNetwork"
        value: "true"

  - name: atos-pcsaws-dev-tnt04-tgw01-us-east-1
    account: Network
    region: *HOME_REGION
    shareTargets:
      organizationalUnits:
        - PCS
        - Infrastructure
    asn: 65523
    dnsSupport: enable
    vpnEcmpSupport: enable
    defaultRouteTableAssociation: disable
    defaultRouteTablePropagation: disable
    autoAcceptSharingAttachments: enable
    routeTables:
      - name: Network-Main-Egress-tnt04
        routes:
          - destinationCidrBlock: 0.0.0.0/0
            attachment:
              vpcName: atos-pcsaws-dev-vpc10-us-east-1
              account: Network
        tags:
          - key: "AtosManaged"
            value: "true"
          - key: "CentralizedNetwork"
            value: "true"
      - name: Network-Main-Spoke-tnt04
        routes:
          - destinationCidrBlock: 0.0.0.0/0
            attachment:
              vpcName: atos-pcsaws-dev-vpc10-us-east-1
              account: Network
        tags:
          - key: "AtosManaged"
            value: "true"
          - key: "CentralizedNetwork"
            value: "true"
    tags:
      - key: "AtosManaged"
        value: "true"
      - key: "CentralizedNetwork"
        value: "true"

transitGatewayPeering:
  - name: atos-pcsaws-dev-us-east-1-to-us-west-1
    requester:
      transitGatewayName: atos-pcsaws-dev-tgw01-us-east-1
      account: Network
      region: us-east-1
      routeTableAssociations:
        - Network-Main-MultiRegion-us-east-1
      autoAccept: false
      tags:
        - key: AtosManaged
          value: "true"
        - key: CentralizedNetwork
          value: "true"
    accepter:
      transitGatewayName: atos-pcsaws-dev-tgw01-us-west-1
      account: Network
      region: us-west-1
      routeTableAssociations:
        - Network-Main-MultiRegion-us-west-1
      autoAccept: true
      applyTags: false
    tags:
      - key: AtosManaged
        value: "true"
      - key: CentralizedNetwork
        value: "true"

vpcs:
  - name: atos-pcsaws-dev-vpc00-us-east-1
    account: Network
    region: *HOME_REGION
    cidrs:
      - 10.0.0.0/22
    defaultSecurityGroupRulesDeletion: true
    internetGateway: true
    enableDnsHostnames: true
    enableDnsSupport: true
    instanceTenancy: default
    useCentralEndpoints: true
    tags:
      - key: "AtosManaged"
        value: "true"
      - key: "CentralizedNetwork"
        value: "true"

  - name: atos-pcsaws-dev-vpc02-us-east-1
    account: Network
    region: *HOME_REGION
    cidrs:
      - 10.2.0.0/22
    defaultSecurityGroupRulesDeletion: true
    internetGateway: false
    enableDnsHostnames: true
    enableDnsSupport: true
    instanceTenancy: default
    tags:
      - key: "AtosManaged"
        value: "true"
      - key: "CentralizedNetwork"
        value: "true"

  - name: atos-pcsaws-dev-vpc03-us-east-1
    account: Services
    region: *HOME_REGION
    cidrs:
      - 10.3.0.0/22
    defaultSecurityGroupRulesDeletion: true
    enableDnsHostnames: true
    enableDnsSupport: true
    instanceTenancy: default
    useCentralEndpoints: true
    tags:
      - key: "AtosManaged"
        value: "true"
      - key: "CentralizedNetwork"
        value: "true"

  - name: atos-pcsaws-dev-tnt0-vpc04-us-east-1
    account: Resource
    region: *HOME_REGION
    cidrs:
      - 10.4.0.0/22
    defaultSecurityGroupRulesDeletion: true
    enableDnsHostnames: true
    enableDnsSupport: true
    instanceTenancy: default
    useCentralEndpoints: true
    tags:
      - key: "AtosManaged"
        value: "true"
      - key: "CentralizedNetwork"
        value: "true"
